body {
	background-color: white
}


#div1 {
    height: 250px;
	width: 80%;
	padding: 10px;
    margin: 0 auto;
	background-color: lavender;
    border-style: solid;
	border-width: 3px;
    border-color: black;
}



#mapdropdown{
	display: flex;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     height: 5vh; 
     background-color: #f1f1f1;
}

/* #div1 {
    height: 250px;
	width: 80%;
	padding: 10px;
    margin: 0 auto;
	background-color: lavender;
    border-style: solid;
	border-width: 3px;
    border-color: black;
} */

#mapdiv {
	height: 480px;
}
